.storage
  margin-bottom 50px
.authenticator
  margin-top 15px
  margin-bottom 50px
#wrapper 
  margin 0 auto
  width 80%
  height 100%
#left
  margin 0 auto
  float left
  width 45%
#right
  margin 0 auto
  float right
  width 45%
